{% extends 'layouts/base.html' %}

{% block title %} Eventos {% endblock %}

{% block content %}

<h1>Eventos </h1>

<form action="{% url 'event' %}" method="GET">
    <input type="text" name="search" placeholder="Buscar evento...">
    <input type="submit" value="Buscar">
</form>
<span><a href="{% url 'event' %}">Ver todos</a> <a href="{% url 'event_create' %}">Añadir</a></span>
<ul>
    {% for event in events %}
    <li>{{ event }}
        <span>
            <a href="{% url 'event_view' id=event.id %}">Ver</a>
            <a href="{% url 'event_edit' id=event.id %}">Editar</a>
            <a href="{% url 'event_delete' id=event.id %}">Eliminar</a>
        </span>
    </li>
    {% endfor %}
</ul>



{% endblock %}