{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} ¿quienes somos? {% endblock %}


{% block content %}

<h1>¿Quienes Somos?</h1>
<img src="{% static 'img/logo.png' %}" width="150" alt="Logo de la página web">
<p>Somos la Asociación Protectora de Animales de Charata (APACh) 
    una organizacion no gubernamental sin fines de lucro enfocados en  
    la protección de animales de la localidad de Charata, Provincia del Chaco, Argentina.
</p>

<br/>

<h2>Miembros de la Organización:
</h2>
<p>Presidente: Marilina de Oro<br/>
   Vocal: Patricia Taboada<br/>
   Voluntaria: Griselda Romañuk<br/>
   Secretaria: Julieta Ojeda<br/>
</p>
<br/>

<h2>Inicio de Actividades:
</h2>
<p>17/11/2014
</p>
<br/>

<h2>Misión:</h2>
<p>
    Educar en el respeto y con la dignidad que merecen ser tratados todos los animales como individuos sintientes.
Promover y difundir sus derechos, plasmados en la legislación vigente.
Exigir por parte del Estado el cumplimiento de políticas públicas relativas al equilibrio poblacional de perros 
y gatos como parte del cuidado de la salud comunitaria y en protección, garantizando su permanencia 
en el tiempo como política de estado.
</p>
<br/>

<h2>Objetivos:</h2>
<h3>Metas 2022</h3>
<p>
    Seguir acompañando al estado municipal en la aplicación del programa de equilibrio 
    poblacional ( Castraciones de perros y gatos gratuitas, tempranas , extendidas, 
    no excluyentes, sistemáticas, y masivas permanentes, así como vacunación Antirrábica y desparasitación).
Seguir trabajando en él mientras tanto en relación a la problemática de sobrepoblación 
animal con hogares de tránsito, fomentando la adopción y nunca la compra de Animales, asistir y 
asesorar en casos de maltrato animal.
</p>
<img src="{% static 'img/adopta.jpg' %}" width="300" alt="imagen adopta">
<br/>
<br/>
<br/>
{% endblock %}